@import "_variables.scss";
@import "_header.scss";

.header{
    .center
    {
        text-align: center;
    }
    .fontStyle{
        font-family: $fontStyle;
    }
    .fontStyleSpecific{
        font-family: $fontStyle;
        font-size: 22px;
    }
}

.exchange{
    margin-top: 100px;
    min-height: 450px;
    .center{
        align-items: center;
    }
    
}

.footer{
    height: 100px;
    background-color: $footerBackground;
    padding-bottom: -50px;
    img{
        height: 50px;
        width: 50px;
        margin-right: 30px;
        margin-top: 20px;
    }
}

.statusMessage{
    text-align: center;
    color: green;
}

